---
import Countdown from "../components/Countdown.astro";
import Layout from "../layouts/Layout.astro";

console.log("Cargando index");
---

<Layout title="Welcome to Astro.">
	<main class="h-full">
		<Countdown />
	</main>
</Layout>

<script></script>
