---
console.log("Cargando Footer");
---

<footer class="py-2">
	<h1 class="text-center text-sm text-white">
		Made by <a
			class="hover:text-app-orange font-bold"
			href="https://catalin-trandafir.com">Catalin Trandafir</a
		>
	</h1>
</footer>
